.feed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    width: 450px;
    text-align: center;
    margin: 25px;
    background-color: #F4978E;
}

.fa-heart-broken, .fa-heart, .fa-user-cog, .fa-sign-out-alt, .fa-home {
    color: #F08080;
}

.fa-heart-broken:hover, .fa-heart:hover, .fa-user-cog:hover, 
.fa-sign-out-alt:hover, .fa-home:hover{
    color: #997B66;
}

.pet-pic {
    margin-top: 20px;
    border-radius: 8px;
    width: 400px;
    object-fit: cover;
}

.pet-info {
    width: 380px;
    border-radius: 8px;
    padding: 15px;
    margin: 15px;
    background-color: #FBC4AB;
}

@media screen and (max-width: 680px) {
    .feed {
        flex-direction: column;
    }

    /* TODO: the card stuff must be edited on the 
    reactfeed.js it seems... */

    .card {
        width: 300px;
    }

    .pet-pic {
        width: 250px;
    }

    .pet-info {
        width: 230px;
    }
}

@media screen and (max-width: 470px) {
    .card {
        width: 250px;
    }

    .pet-pic {
        width: 230px;
    }

    .pet-info {
        width: 200px;
    }
}